.list-left{
  flex: 0.7;
  margin-right: 120px;
  box-sizing: border-box;
}

.left-details1{
  border-bottom: 1px solid lightgray;
  padding-bottom: 24px;
}

.left-h1{
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 500;
}

.left-p{
  color: rgb(90, 90, 90);
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .list-left{
    flex: 1;
    margin-right: 0px;
  }
  .left-h1{
    width: 90%;
  }
  .left-p{
    width: 98%;
  }
}

@media screen and (max-width: 900px) {
  .list-left{
    width: 100%;
    flex: 1;
    margin-right: 0px;
  }
}