.searchPage{
  display: grid;
  place-items: center;
  margin-top: 40px;
}

.searchPage-div{
  max-width: 1200px;
}

.searchPage__info >p{
  margin-bottom: 10px;
  font-size: 14px;
}

.searchPage__info>h1{
  margin-bottom: 30px;
}

.searchPage__info>button{
  border-radius: 30px;
  text-transform:  inherit;
  margin: 5px;
}

@media screen and (max-width: 900px){
  .searchPage-div{
    width: 90%;
    padding: 10px;
  }
}